<?xml version="1.0"?>
<config>
    <modules>
        <MyNamespace_MyTest>
            <version>0.1.0</version>
        </MyNamespace_MyTest>
    </modules>
    <frontend>
        <routers>
            <mytest>
                <use>standard</use>
                <args>
                    <module>MyNamespace_MyTest</module>
                    <frontName>mytest</frontName>
                </args>
            </mytest>
        </routers>
        <layout>
            <updates>
                <mytest>
                    <file>mytest.xml</file>
                </mytest>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mytest>
				<use>admin</use>
				<args>
					<module>MyNamespace_MyTest</module>
					<frontName>mytest</frontName>
				</args>
			</mytest>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<mytest module="mytest">
				<title>MyTest</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="mytest">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>mytest/adminhtml_mytest</action>
					</items>
				</children>
			</mytest>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MyNamespace_MyTest>
							<title>MyTest Module</title>
							<sort_order>10</sort_order>
						</MyNamespace_MyTest>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mytest>
					<file>mytest.xml</file>
				</mytest>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mytest>
                <class>MyNamespace_MyTest_Model</class>
                <resourceModel>mytest_mysql4</resourceModel>
            </mytest>
            <mytest_mysql4>
                <class>MyNamespace_MyTest_Model_Mysql4</class>
                <entities>
                    <mytest>
                        <table>mytest</table>
                    </mytest>
                </entities>
            </mytest_mysql4>
        </models>
        <resources>
            <mytest_setup>
                <setup>
                    <module>MyNamespace_MyTest</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mytest_setup>
            <mytest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mytest_write>
            <mytest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mytest_read>
        </resources>
        <blocks>
            <mytest>
                <class>MyNamespace_MyTest_Block</class>
            </mytest>
        </blocks>
        <helpers>
            <mytest>
                <class>MyNamespace_MyTest_Helper</class>
            </mytest>
        </helpers>
    </global>
</config>